// Import material theming functions
@import '@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-light-blue);
$app-warn: mat-palette($mat-red);
